@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 267 100% 60%;
    /* --primary: 267 100% 50%; */
    --primary-foreground: 210 40% 98%;

    --secondary: 267 50% 95%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 267 50% 95%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 267 50% 95%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 267 100% 50%;

    --radius: 0.5rem;
    --chart-1: 160 60% 45%;
    --chart-2: 340 76% 55%;
  }

  .dark {
    --background: 224 58% 2%;
    --foreground: 213 31% 91%;

    --card: 267 20% 5%;
    --card-foreground: 213 31% 91%;

    --popover: 224 20% 4%;
    --popover-foreground: 224 20% 4%;

    --primary: 267 100% 60%;
    /* --primary: 267 100% 50%; */
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 250, 94%, 80%;
    --secondary-foreground: 210 40% 98%;

    --muted: 248, 20%, 7%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 224 20% 4%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --user-chat-box: 267 100% 60%;

    --border: 267 0% 10%;
    --input: 267 0% 10%;
    --ring: 267 100% 50%;

    --radius: 0.5rem;
    --chart-1: 160 60% 45%;
    --chart-2: 340 76% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

